.arrival-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  border-bottom: 3px solid white;
  font-weight: bold;
  list-style: none;
  padding: 1em 0.5em;
}

.arrival--time {
  font-variant-numeric: tabular-nums;
}

.arrival--eta {
  font-size: 2em;
  font-weight: bold;
}

.arrival--headsign {
  font-size: 1.1em;
  text-align: center;
}

.arrival--time {
  font-size: 2em;
  text-align: right;
}
