.arrival-list-item {
  align-items: center;
  border-bottom: 3px solid white;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  list-style: none;
  padding: 1em 0.5em;
}

.arrival--eta,
.arrival--time {
  font-variant-numeric: tabular-nums;
}

.arrival--eta {
  flex-basis: 20%;
  font-size: 2em;
  font-weight: bold;
}

.arrival--headsign {
  font-size: 1.1em;
}

.arrival--time {
  flex-basis: 20%;
  font-size: 2em;
  text-align: right;
}
