.station-list__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  text-decoration: none;
}

.station-list__item__station-name {
  font-size: 1.1em;
}
