.list-filter {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  vertical-align: middle;

  border: 0;

  &::placeholder {
    color: #555;
  }

  &--active,
  &:focus {
    &::placeholder {
      color: #999;
    }
  }
}
