.station-header {
  position: relative;

  &--meta {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    background-color: rgba(245, 242, 242, 0.8);
    padding: 0.5em 0;
    width: 100%;
  }

  &--title {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
  }

  &--lines {
    padding-right: 0.5em;
    text-align: right;
  }

  &--favorite {
    padding-left: 0.5em;
  }
}
