$color-cta-blue: rgb(0, 161, 222);
$color-cta-brown: rgb(98, 54, 27);
$color-cta-green: rgb(0, 155, 58);
$color-cta-grey: rgb(86, 90, 92);
$color-cta-orange: rgb(249, 70, 28);
$color-cta-pink: rgb(226, 126, 166);
$color-cta-purple: rgb(82, 35, 152);
$color-cta-red: rgb(198, 12, 48);
$color-cta-yellow: rgb(249, 227, 0);
