.station-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  text-decoration: none;
  cursor: pointer;
}

.station-list__item__station-name {
  font-size: 1.1em;
  color: #222;
}
